.AppMenuBar{
  background-color: rgb(226, 126, 12);
}


/*
.menu-bar{
    height: 50vh;
    width: 100vw;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .menu, .dropdown-menu-btn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown-menu:hover .dropdown-menu-btn,.menu:hover {
    background-color: red;
}

li.dropdown-menu {
    display: inline-block;
}

.dropdown-submenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-submenu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-menu:hover .dropdown-submenu {
    display: block;
}

.dropdown-submenu a:hover {background-color: #f1f1f1}

*/
/*
.menu-bar {
    position: relative;
    flex: 1;
    width: 100wh;
    height: 10vh;
    padding: 0;
    margin: 0;
    background-color: #060127;
}

.menu{
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #4758ee;
}

.menu-item{
    float: left;
    padding: 10px;
    margin-bottom: 5px;
    transition: background-color 400ms ease-in;
}

.sub-menu-item{
    visibility: hidden;
    position: relative;
    list-style-type: none;
    padding: 10px;
    margin-bottom: 5px;
    transition: background-color 400ms ease-in;
}


.menu-item:hover{
    background-color: rgb(255, 0, 0);
}

.menu-item:hover .sub-menu-item{
    visibility: visible;
}
*/
/*
.side-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.side-bar li {
    padding: 10px;
    margin-bottom: 5px;
    transition: background-color 400ms ease-in;
}
  
.side-bar li ul {
    display:none;
    padding: 20px;
    margin-bottom: 5px;
    transition: background-color 400ms ease-in;
}
  
.side-bar li:hover {
    background-color: darkkhaki;
}
  
.side-bar a {
    text-decoration: none;
    color: #fff;
}
 

*/


