/*
.App {
  display: flex;
}
*/
/*
.header {
  position: relative;
  height: 30vh;
  padding: 10px;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  box-shadow: 0px 3px 1px 1px rgba(204,204,204, 0.8);
}

.app-body {
  display: flex;
}
*/
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
